<!DOCTYPE html>
<html>
<head>
<title>Pensieve</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
* {
  font-family: Menlo;
  font-size: 13px;
}
body {
  margin: 0;
  border: 0;
  padding: 0;
}

#title {
  font-size: 1.2em;
  width: 100%;
  padding: 10px 0;
  background-color: #444;
  border: 0;
  margin: 0;
  color: #ffe;
}

#editor {
  display: none;

  background: #333;
  color: #eee;
}
/*
#content {
}
*/
</style>


</head>
<body>
  {% block body %}{% end %}


<!-- http://jquery.com -->
<script src="/static/jquery-2.1.4.min.js"></script>

<!-- http://craig.is/killing/mice -->
<script src="/static/js/mousetrap.min.js"></script>
<script src="/static/js/mousetrap-global-bind.min.js"></script>

<!-- https://github.com/defunkt/jquery-pjax -->
<script src="/static/js/jquery.pjax.js"></script>

<!-- https://github.com/srijs/rusha -->
<script src="/static/js/rusha/rusha.min.js"></script>

</body>
</html>
