<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Pensieve</title>

	<link rel="stylesheet" href="index.css" type="text/css">
	<link rel="stylesheet" href="/js/alohaeditor/aloha/css/aloha.css" type="text/css">
	<script src="/js/alohaeditor/aloha/lib/require.js"></script>
	<script src="/js/alohaeditor/aloha/lib/vendor/jquery-1.7.2.js"></script>
	<script src="/js/alohaeditor/aloha/lib/aloha.js" data-aloha-plugins="common/ui,common/format,common/highlighteditables,common/link"></script>
</head>
<body>
  <h1>Pensieve Proof of Concept</h1>
	<div id="main">
    <div id="content">{% raw content %}</div>
	</div>
	<script type="text/javascript">
  // Initialize
	Aloha.ready( function() {
		Aloha.jQuery('#content').aloha();
	});

  // Saving
  Aloha.bind('aloha-editable-deactivated', function (e, params) {
    if(params.editable.originalContent != params.editable.obj[0].innerHTML) {
      $.post(location.href, {content: params.editable.obj[0].innerHTML})
    }
  });
	</script>
</body>
</html>
